<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Nutrition Tracker|Calculate your nutrition norm</display-name>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.bod.servlets.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LocalizationFilter</filter-name>
        <filter-class>com.bod.filters.LocalizationFilter</filter-class>
        <init-param>
            <param-name>bundle</param-name>
            <param-value>error</param-value>
        </init-param>
        <init-param>
            <param-name>locale</param-name>
            <param-value>ua</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LocalizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
